@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100wh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-color: aqua;
    background:url('../imagens/frame-iphone.png') no-repeat fixed;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais >a >img:hover{
    border: 5px solid rgba(12, 225, 240, 0.473);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 20px black;
    transition: transform .5s, border 1s, box-shadow 5s;
}
section#redes-sociais > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px black;
    box-sizing: border-box;
}